$primary : #1E7CFA;
$accent: #d08642;
$bg: #1E72E2;
$bg-accent: #e7e8e9;
$disabled: #9c9c9c;
$foreground: #2d264b;


@keyframes slide {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-10px);
    }
}

body{
    font-family: monospace;
    background: $primary;
    background-image: url("./assets/1.png");
    background-size: cover;
    background-repeat: repeat;
    color: $foreground;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0 30px;
    height: 100vh;
}
.quiz {
    width: 500px;
    background: $bg;
    border-radius: 4px;
    margin-top: 100px;
    padding: 30px 60px;
    animation: slide 2s ease-in-out infinite alternate;
    box-sizing: border-box;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.35);
    .active-question-no{
        font-size: 32px;
        font-weight: 500;
        color: $bg-accent;
    }

    .total-question{
        font-size: 16px;
        font-weight: 500;
        color: $disabled;
    }
    h2 {
        font-size: 16px;
        font-weight: 500;
        margin: 0;
        color: #F0C419;
    }
    ul {
        margin-top: 20px;
        margin-left: -40px;
        li {
            text-decoration: none;
            list-style: none;
            color: $accent;
            font-size: 16px;
            background: $bg-accent;
            border: 1px solid $disabled;
            border-radius: 16px;
            padding: 11px;
            margin-top: 15px;
            cursor: pointer;
        }

        .selected-answer{
            background: $primary;
            border: 1px solid $accent;
            color: #F0C419;
        }
    }

    .footer {
        display: flex;
        justify-content: flex-end;    
    }
    button{
        // background: linear-gradient(0deg , $primary 0.03%, $accent);
        background: #3B4F69;
        color: #d08642;
        border-radius: 9px;
        font-size: 18px;
        padding: 10px 42px;
        outline: none;
        border: none;
        margin-top: 15px;
        cursor: pointer;

        &:disabled{
            background: $bg-accent;
            color: $bg;
            cursor: not-allowed;
        }
    }
    .result {
        text-align: center;

        h3 {
            font-size: 24px;
            letter-spacing: 1.4px;
            text-align: center;
        }

        p {
            font-size: 16px;
            font-weight: 500;
            span {
                color: $accent;
            }
        }
    }
}
